# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: numbers

Strings: letters

Lists: a list of objects

Tuples: immutable list

Dictionaries: set of key and value pairs

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(10*10)/2 + 60 - 9.75

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [2]:
2/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [6]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4? Floating Point

What would you use to find a numberâ€™s square root, as well as its square?

In [10]:
x = 2
x**2
x**0.5

1.4142135623730951

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [12]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using indexing:

In [13]:
s ='hello'

# Reverse the string using indexing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s ='hello'

# Print out the

s[4]
s[4:]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [26]:
l = [0,0,0]
l2 = []
l2.append(0)
l2.append(0)
l2.append(0)
l2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [17]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [19]:
l = [5,3,4,6,1]
l.sort()
l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [28]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [29]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [30]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [31]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

No, a dictionary is not ordered.

## Tuples

What is the major difference between tuples and lists?

Tuples are immutable

How do you create a tuple?

t = ()

## Sets

What is unique about a set?

A set cannot have repeated elements.

Use a set to find the unique values of the list below:

In [33]:
l = [1,2,2,33,4,4,11,22,3,3,2]

s = set(l)
s

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [34]:
# Answer before running cell 
2 > 3
# False

False

In [35]:
# Answer before running cell
3 <= 2
# False

False

In [36]:
# Answer before running cell
3 == 2.0
# False

False

In [39]:
# Answer before running cell
3.0 == 3
# True

True

In [40]:
# Answer before running cell
4**0.5 != 2
# False

False

Final Question: What is the boolean output of the cell block below?

In [41]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']
# 3 >= 4 False

False

## Great Job on your first assessment!